Package: avidbots-prometheus-adapter
Architecture: all
Maintainer: None
Depends: prometheus-main, python-boto3, python-yaml
Priority: optional
Version: 1.0.0
Description: Adapter from prometheus to dynamodb

